PRIVY_APP_ID=...
FIREBASE_API_ID=...
FIREBASE_MESSAGING_SENDER_ID=...
FIREBASE_STORAGE_BUCKET=...
FIREBASE_PROJECT_ID=...
FIREBASE_AUTH_DOMAIN=...
FIREBASE_API_KEY=...
NEXT_PUBLIC_MANTLE_TESTNET_RPC=https://rpc.sepolia.mantle.xyz
MAX=100
STARTING=100
REGENERATION_PER_TURN=12
CRITICAL_HIT_REWARD=20
COOLDOWN_TURNS=2